.wrap {
  max-width: 960px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.docking .head {
  position: fixed;
  top: 0;
}

.docking .head + .main {
  padding-top: 70px;
}

/* ==========================================================================
   Header
   ========================================================================== */
.head {
  width: 100%;
  z-index: 100;
  height: 60px;
  background: #fff;
  border-top:5px solid #00a94f;
  border-bottom:5px solid #fffd00;
}

.logo {
  display: inline-block;
  width: 182px;
  height: 33px;
  margin: 14px 0 13px;
  text-indent: -100%;
  background: url(../images/cathaylifeLogo.svg) no-repeat center center;
  vertical-align: middle;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.foot {
  background: url(../images/footer.jpg) #fff no-repeat bottom center;
  background-size: 100% 15px;
}
.foot a{
	font-size:14px;
	color:#333;
	text-decoration:none;
}
.foot a:hover{
	color:#00a94f;
	text-decoration: underline;
}
.foot .foot__item{
	height:18px;
	padding:32px 0 10px;
}
.foot .foot__item ul{
	padding:0;
	margin:0;
	}
.foot .foot__item li{
	list-style:none;
	float:left;
	margin: 0;
}
.foot .foot__item li:after {
  content: "|";
  padding:0 10px;
  margin:0;
  text-align:center;
}
.foot .foot__item li:last-child:after {
  content: "";
}


.foot .warning{
	border-top:1px solid #CECECE;
	color: #666666;
}
.foot .warning .wrap{
	height:90px;	
}
.foot .warning_headline{
	 font-size: 20px;
	 line-height: 24px;
	 margin:13px 20px 0 0;
	 padding:0;
	 width:80px;
	 float:left;
}
.foot .warining_copy{
	font-size:14px;
	line-height:20px;
	padding:21px 0 29px;
	float:left;
}

.sticky {
  position: fixed;
  width: 100%;
  bottom: 40px;
  right:0;
  z-index: 90;
}

.goTop__btn {
  float: right;
  margin-right:20px;
  width: 25px;
  height: 25px;
  background: #ffee00;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.goTop__btn i {
	border: solid #777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
	margin:11px 9px;
}
.goTop__btn .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.goTop__btn:hover {
  background: #00a94f;
}

.goTop__btn:hover i {
	border: solid #fff;
	border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
	margin:11px 9px;
}


/* ==========================================================================
   Menu
   ========================================================================== */
.nav {
  /*width: 100%;*/
  z-index: 100;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float:right;
  padding:0 0 0 40px;
}
.nav .nav__burger {
  display: none;
}
.nav .nav__list {
  margin: 0;
  padding: 0 0px;
}
.nav .nav__list > li {
  list-style-type: none;
  float: left;
}
.nav .nav__list > li > a {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 16px;
  /*font-weight: bold;*/
  color: #000;
  text-decoration: none;
  text-align: center;
  height:60px;
  line-height:3.75;
}
/*.nav .nav__list > li > a:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 15px;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #baf1eb;
  opacity: 0;
  -moz-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}*/
.nav .nav__list > li a.active {
  color: #00a94f;
}
.nav .nav__list > li a.active{
  color: #00a94f;
}
/*.nav .nav__list > li.active > a:after, .nav .nav__list > li:hover > a:after {
  opacity: 1;
}*/

.nav-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0.7;
  z-index: 90;
  -moz-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /*---------- icon ----------*/
  /*---------- icon - step arrow ----------*/
  /*---------- icon - go top ----------*/
  /*---------- icon - social media ----------*/
  /*---------- button ----------*/
  /*---------- button - color ----------*/
  /*---------- button - size ----------*/
  /*---------- plugin ----------*/
  /*---------- other ----------*/
  /*---------- popup ----------*/
  /*---------- page ----------*/
  /*---------- list ----------*/
  /*---------- link ----------*/
  /*---------- form ----------*/
  /*---------- font & title ----------*/
  /*---------- background ----------*/
  /*---------- position ----------*/
  /*---------- text align ----------*/
  /*---------- display ----------*/
  /*---------- float ----------*/
  /*---------- margin ----------*/
  /*---------- padding ----------*/
  /*---------- width ----------*/
  /*---------- height ----------*/
  /*---------- line height ----------*/
}
