body {
    background-color: lightgray;
}

#footer {
    display: inline;
    float: right;
}

#footer span {
    margin-left: 10px;
}

.product_case img{
    height: 300px;
    width: 300px;
}

.product_case {
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

#product_modal {
    background-color: white;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    top: 50px;
    left: 32%;
    border-radius: 5px;
    padding: 10px;
    animation-name: createBox;
    animation-duration: 0.5s; 
}

form input {
    margin-bottom: 10px;
}

#product_modal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#close {
    float: right;
    cursor: pointer;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#modal_background {
    z-index: 1;
    background-color: white;
    position: fixed;
    top:0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.option {
    list-style-type: none;
    cursor: pointer;
    color: royalblue;
}

.option:hover {
    color: coral;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pagination {
    text-align: center;
}

.pagination li{
    display: inline;
    align-items: center;
    margin-left: 10px;
    float: right;
}

.notFocused {
    cursor: pointer;
    color: royalblue;
}

.notFocused:hover {
    color: coral;
}